asgiref==3.3.1
autopep8==1.5.4
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
cloudinary==1.23.0
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==1.11.29
django-bootstrap3==14.2.0
django-bootstrap4==2.3.1
django-cors-headers==3.5.0
django-crispy-forms==1.10.0
django-decouple==2.1
django-heroku==0.3.1
django-registration==2.4.1
django-sendgrid-v5==0.9.0
django-tinymce==3.1.0
django-vote==2.2.0
future==0.18.2
greencache==1.0.0
htmq==1.0.0
idna==2.10
importlib-metadata==1.7.0
Pillow==8.0.1
pkg-resources==0.0.0
psycopg2==2.8.6
pycodestyle==2.6.0
python-decouple==3.3
python-http-client==3.3.1
pytz==2020.4
redcmd==1.2.10
redlib==1.5.7
requests==2.25.0
sendgrid==6.4.7
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
starkbank-ecdsa==1.1.0
toml==0.10.2
urllib3==1.26.2
vote==1.0.2
voting==0.1.3
whitenoise==5.2.0
zipp==3.4.0
zope.interface==5.2.0
